@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: unset;
  background-image: url("/assets/space_bg2.jpg");
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

@layer utilities {
  .info-section-wbg {
    @apply bg-bg_info text-white p-[20px] rounded-[10px];
  }

  .info-section {
    @apply text-white p-[20px] rounded-[10px];
  }
}
